<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./homepage.component.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>WELCOME TO IOA BANK</h1>
    <div class="container">
      <form action="#">
        <a routerLink="/login">
          <h2 id="csLogin">Customer Login</h2>
          <h2 id="emLogin">Employee Login</h2>
        </a>
      </form>
    </div>
  </body>
  <script></script>
</html>
